@import "../../scss/globalStyles";


.main {
    width: 100%;

    @include flex(flex, column, nowrap, flex-start, flex-start, unset);
}
.singleTop {
    width: 100%;

    @include flex(flex, row, nowrap, space-between, flex-start, unset);

    .categs {
        width: 100%;
        margin-bottom: 80px*$vw;

        @include flex(flex, row, nowrap, flex-start, flex-start, unset);

        span {
            font-size: 20px*$vw;
            font-weight: 500;
            margin: 0 10px*$vw;
        }
    }
    .price {
        font-size: 25px*$vw;
        font-weight: 600;
        margin-bottom: 20px*$vw;
    }
    .countAndStock {
        width: 100%;
        margin-bottom: 20px*$vw;

        @include flex(flex, row, nowrap, flex-start, center, unset);
    }
    .stock {
        margin-left: 50px*$vw;
    }
}
.singleTop_Img {
    width: 48%;
    height: 500px*$vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.singleTop_right {
    width: 48%;

    h1 {
        font-size: 30px*$vw;
        margin-bottom: 20px*$vw;
        text-align: left;
    }
}

.singleBottom {
    width: 100%;
    margin: 100px*$vw 0;

    @include flex(flex, column, nowrap, flex-start, flex-start, unset);

    h3 {
        margin-bottom: 20px*$vw;
    }

    
}
.relatedProds_w {

    .relatedProds {
        width: 100%;

        @include flex(flex, row, wrap, flex-start, flex-start, unset);
        gap: 30px*$vw;
    }
}